body{
    background-color: white;
    z-index: 5;
}
.gameBoard {
    z-index: -10;
    margin: 3% auto;
    width: 840px;
    border: 3px inset gray;
    background-image: url('./background_highway.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 650px;
}

.gameBoard div {
    width: 40px;
    height: 80px;
}

.playerNode {
    z-index: 4;
    position: absolute;
    background-color: blue;
    border-radius: 20%;
}

.car {
    position: absolute;
    margin: 0px;
    display: inline-block;
    box-sizing: border-box;
    border: 2px solid black;
}

.car1 {
    width: 60px;
    height: 90px;
    background-color: red;
    border-radius: 25%;
}

.car2 {
    width: 60px;
    height: 90px;
    background-color: green;
    border-radius: 25%;
}

.car3 {
    width: 60px;
    height: 90px;
    background-color: orange;
    border-radius: 25%;
}